<header>
    <div class="bg-light p-5 mb-4">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatum natus maxime, saepe harum minima facere ullam quasi dolores numquam ea praesentium quam quae ut possimus laudantium reiciendis repellendus itaque.</p>
        </div>
    </div>
</header>